<h1>Party!!!</h1>


Table 1
<a href="/orders">Add Order</a>
<a href="#">View Check</a>

Table 2
<a href="/orders">Add Order</a>
<a href="#">View Check</a>

Table 3
<a href="/orders">Add Order</a>
<a href="#">View Check</a>

Table 4
<a href="/orders">Add Order</a>
<a href="#">view Check</a>

Table 5
<a href="/orders">Add Order</a>
<a href="#">View Check</a>

Table 6
<a href="/orders">Add Order</a>
<a href="#">View Check</a>
