<!--<% @parties.each do |party| %>
<a href="/parties/<%= party.id %>/orders/new">Party party.id</a>
<% end %>

 In controller: @party = Party.find(params[:party_id])
@party.order.create(order_params) -->
